<ion-view title="Profile Tab Default Page" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="profileTabDefaultPage-list1">
      <ion-item class="item-avatar" id="profileTabDefaultPage-list-item1">
        <h2>Profile Text</h2>
      </ion-item>
    </ion-list>
    <div id="profileTabDefaultPage-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some text about the user</p>
    </div>
    <div class="spacer" style="width: 300px; height: 70px;"></div>
    <a ui-sref="tabsController.login" id="profileTabDefaultPage-button1" class="button button-assertive  button-block">Log Out</a>
  </ion-content>
</ion-view>