<ion-view title="Reset Password" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page11">
  <ion-content padding="true" style="background: url(img/EhjFt9MeSrGqjngEFxIl_17836878_10212976240544669_1619232310_o.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form id="resetPassword-form5" class="list">
      <div id="resetPassword-markdown10" ng-if="error" class="show-list-numbers-and-dots error-box">
        <p style="color:#000000;">{{error}}</p>
      </div>
      <div class="spacer" style="width: 300px; height: 58px;"></div>
      <div id="resetPassword-markdown12" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;font-size:15px;">
          <strong>Please enter your email here:</strong>
        </p>
      </div>
      <ion-list id="resetPassword-list6">
        <label class="item item-input" id="resetPassword-input12">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" ng-model="data.email">
        </label>
      </ion-list>
      <button id="resetPassword-button9" style="font-weight:600;color:#FFFFFF;border-radius:15px 15px 15px 15px;" class="button button-royal  button-block">Reset password</button>
    </form>
  </ion-content>
</ion-view>