<ion-view title="Add New Routes" hide-back-button="true" id="page5">
  <ion-content padding="true" class="has-header">

      <ion-list id="login-list2">
          <label class="item item-input" id="login-input1">
              <span class="input-label">City</span>
              <input type="text" placeholder="" ng-model="data.city">
          </label>
          <label class="item item-input" id="login-input2">
              <span class="input-label">Distance</span>
              <input type="text" placeholder="" ng-model="data.distance">
          </label>
      </ion-list>


    <button id="nearbyRoutes-button23" ng-click="findNearbyRoutes()" class="button button-balanced  button-block">Add new route!</button>

  </ion-content>
</ion-view>