<ion-view title="Signup" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page9">
  <ion-content padding="true" style="background: url(img/EhjFt9MeSrGqjngEFxIl_17836878_10212976240544669_1619232310_o.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form id="signup-form4" class="list">
      <div id="signup-markdown4" ng-if="error" class="show-list-numbers-and-dots error-box">
        <p style="color:#000000;">{{error}}</p>
      </div>
      <div class="spacer" style="width: 300px; height: 44px;"></div>
      <div>
        <img src="img/nRsFpnSGRebHX3QppJen_CityWalkingLogoNewPNG.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <ion-list id="signup-list5">
        <label class="item item-input" id="signup-input8">
          <span class="input-label">Name</span>
          <input type="text" placeholder="" ng-model="data.name">
        </label>
        <label class="item item-input" id="signup-input10">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" ng-model="data.email">
        </label>
        <label class="item item-input" id="signup-input9">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="data.password">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <button id="signup-button6" ng-click="signup()" style="font-weight:600;color:#FFFFFF;border-radius:15px 15px 15px 15px;" class="button button-royal  button-block">Sign up</button>
      <div id="signup-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">OR</p>
      </div>
      <a ui-sref="login" id="signup-button8" style="font-weight:600;color:#FFFFFF;" class="button button-light  button-block button-clear">Already have an account?</a>
    </form>
  </ion-content>
</ion-view>